@import url(index.css);
@font-face {
    font-family: poppins;
    src: url('Ubuntu-Light.ttf');
}
.container{
    
    background-color: var(--btn-bg-color);
    width: 100%;
    max-width: 100%;
    max-height: 100vh;
    height: 100%;
    padding: 0;
    margin: 0;
    background-image: url("/assets/img/bgcut.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: space-around;
}
form{
    width: 400px;
    max-height: 80%;
    padding: 10px;
    padding-top: 20px;
    position: relative;
    top: 50px;
    margin-left: 30px;
    border-radius: 20px;
    align-items: center;
    position: relative;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    overflow-y: scroll;
    box-shadow: 10px 0px 35px #000;
    background-color: white;
}
::-webkit-scrollbar{
    width: 7px;
    background-color: transparent;
}
::-webkit-scrollbar-track{
    border-radius: 20px;
    max-height: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
::-webkit-scrollbar-thumb{
    border-radius: 20px;
    border: 1px solid white;
    background-color: black;
}
form input{
    width: 90%;
    padding: 18px;
    padding-left: 39px;
    font-size: 13px;
    margin-top: 15px;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: #e4e4e4;
}
form input::placeholder{
    padding-left: 3px;
    color: black;
    font-weight: bold;
    font-family: poppins;
}
.icon{
    width: 24px;
    height: 24px;
    border-radius: 20px;
}

span .fa-user{
    position: relative;
    left: 30px;
    font-size: 18px;
    object-fit: contain;
    object-position: center;
}
span .fa-lock{
    position: relative;
    left: 30px;
    font-size: 18px;
    object-fit: contain;
    object-position: center;
  
}
.error_text,
.error_text-shown {
    display: none;
    position: relative;
    right: 17%;
    color: red;
    font-family: poppins;
    font-size: smaller;
}
.error_text-shown {
    display: block;
}
form button{
    background-color: var(--btn-bg-color);
    width: 90%;
    padding: 18px;
    padding-left: 39px;
    font-size: 13px;
    margin-top: 18px;
    border-radius: 8px;
    outline: none;
    position: relative;
    left: 10px;
    border: none;
    color: var(--primary-color);
    border-radius: 8px;
    font-family: poppins;
}
form p{
    color: var(--other-color);
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 10px;
    font-family: poppins;
}
form .ach{
    text-decoration: none;
    font-family: poppins;
    font-weight: bold;
    font-size: 15px;
}
.icon{
    width: 30px;
    height: 30px;
}
.icon3{
    width: 40px;
    height: 40px;
}
.logo-icon{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 5px;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 10px;
}
.logo-sections {
    position: relative;
    width: 40%;
    height: 80%;
}

.logo-sections .logo {
    position: relative;
    margin: auto;
}

.logo-sections .logo .app-logo {
    width: 200px;
    height: 200px;
    position: relative;
    object-fit: contain;
    margin: auto;
    top: 200px;
    left: 100px;
}

.bottom-items {
    position: relative;
    display: flex;
    justify-content: space-around;
}
form h5{
    font-family: poppins;
    color: black;
    margin-bottom: 30px;
}
form .create-acc{
    position: relative;
    background-color: var(--rare-bg);
    border: none;
    outline: none;
    padding: 13px 80px 13px 80px;
    margin-top: 35px;
    font-size: 15px;
    font-weight: bold;
    color: var(--primary-color);
    border-radius: 20px;
    font-family: poppins;
    margin-bottom: 30px;
    position: relative;
    bottom: 15px;
}
.footer{
    font-family: poppins;

}