@import url("index.css");
@font-face {
    font-family: poppins;
    src: url('Ubuntu-Light.ttf');
}

.page {
    background-color: var(--btn-bg-color);
    width: 100%;
    max-width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-image: url("/assets/img/bgcut.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.form-body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.account-form,
.center-form {
    width: 40%;
    background-color: #fff;
    height: 80%;
    border-radius: 20px;
    margin-top: .8em;
    padding: 2em;
    height: 80%;
    overflow: hidden;
    overflow-y: scroll;
    box-shadow: 10px 0 35px #000;
}

::-webkit-scrollbar{
    width: 7px;
    background-color: transparent;
}

::-webkit-scrollbar-track{
    border-radius: 20px;
    max-height: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

::-webkit-scrollbar-thumb{
    border-radius: 20px;
    border: 1px solid white;
    background-color: black;
}

::-webkit-scrollbar:hover{
    width: 15px;
}

.center-form {
    overflow: hidden;
}

.center-form .form- {
    margin: auto;
    height: 40%;
    margin-top: 20%;
}

.form-control {
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 4px;
    padding-top: 4px;
    margin-bottom: 10px;
    background-color: #ddd;
    border-radius: 20px;
}

.error_text,
.error_text-shown {
    display: none;
    position: relative;
    right: 0;
    color: red;
    font-family: poppins;
    font-size: smaller;
}

.error_text-shown {
    display: block;
}

.input-control {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.input-control .icon {
    width: 24px;
    height: 24px;
    border-radius: 20px;
}

.icon img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.input-control input,
.input-control select {
    width: 100%;
    padding: 5px;
    border: none;
    outline: none;
    background-color: #ddd;
    font-family: poppins;
}

::placeholder {
    color: var(--black);
    font-weight: bold;
    padding-left: 10px;
    font-family: poppins;
}

.account-action {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
}


.logo-sections {
    position: relative;
    width: 40%;
    height: 80%;
}

.logo-sections .logo {
    position: relative;
    margin: auto;
}

.logo-sections .logo .app-logo {
    width: 200px;
    height: 200px;
    position: relative;
    object-fit: contain;
    margin: auto;
    top: 200px;
    left: 100px;
}

.bottom-items {
    position: relative;
    display: flex;
    justify-content: space-around;
    font-family: poppins;
    transition: all 0.5s linear;
}

.bottom-items li a:active{
    background-color: lightblue;
}

.bottom-items li a:hover{
    text-decoration: underline;
}
.heading {
    margin: 10px;
    font-size: 25px;
    font-weight: bolder;
    font-family: poppins;
}