@import url("index.css");


.page {
    background-color: var(--btn-bg-color);
    width: 100%;
    max-width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-image: url("/assets/img/bgcut.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.form-body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.account-form,
.center-form {
    width: 40%;
    background-color: #fff;
    height: 80%;
    border-radius: 20px;
    margin-top: .8em;
    padding: 2em;
    height: 80%;
    overflow: hidden;
    overflow-y: scroll;

}

.center-form {
    overflow: hidden;
}

.center-form .form- {
    margin: auto;
    height: 40%;
    margin-top: 20%;
}

.form-control {
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 4px;
    padding-top: 4px;
    margin-bottom: 10px;
    background-color: #ddd;
    border-radius: 20px;
}

.error_text,
.error_text-shown {
    display: none;
    position: relative;
    right: 0;
    color: red;
    font-family: poppins;
    font-size: smaller;
}

.error_text-shown {
    display: block;
}

.input-control {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.input-control .icon {
    width: 24px;
    height: 24px;
    border-radius: 20px;
}

.icon img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.input-control input,
.input-control select {
    width: 100%;
    padding: 5px;
    border: none;
    outline: none;
    background-color: #ddd;
}

::placeholder {
    color: var(--black);
    font-weight: bold;
    padding-left: 10px;
}

.account-action {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
}


.logo-sections {
    position: relative;
    width: 40%;
    height: 80%;
}

.logo-sections .logo {
    position: relative;
    margin: auto;
}

.logo-sections .logo .app-logo {
    width: 200px;
    height: 200px;
    position: relative;
    object-fit: contain;
    margin: auto;
    top: 200px;
    left: 100px;
}

.bottom-items {
    position: relative;
    display: flex;
    justify-content: space-around;
}

.heading {
    margin: 10px;
    font-size: large;
    font-weight: bold;
}